In [1]:
import pandas as pd
import numpy as np

In [2]:
df_main = pd.DataFrame(
    {
        "Product": [
            "Product A",
            "Product B",
            "Product C",
            "Product D",
            "Product E",
            "Product F",
        ],
        "Region": [
            "North",
            "North",
            "South",
            "South",
            "East",
            "West"
        ],
        "Sales": [
            100,
            200,
            150,
            50,
            75,
            125
        ]
    }
)
df_main

     Product Region  Sales
0  Product A  North    100
1  Product B  North    200
2  Product C  South    150
3  Product D  South     50
4  Product E   East     75
5  Product F   West    125

## Secondary defs

In [3]:
def find_names_using_sell_quantity(
        df: pd.DataFrame,
        col_name_to_eq: str,
        col_name_to_return: str,
        max_sells: bool
) -> pd.Series:
    
    names = None

    if max_sells:
        names = df[
            df[col_name_to_eq].eq(
                df[col_name_to_eq].max()
            )
        ][col_name_to_return]  
    
    if not max_sells:
        names = df[
            df[col_name_to_eq].eq(
                df[col_name_to_eq].min()
            )
        ][col_name_to_return]

    return names


def find_region_names_using_sell_quantity(
        df: pd.DataFrame,
        col_name_to_eq: str,
        col_name_to_return: str,
        max_sells: bool
) -> pd.Series:
    
    df_grouped: pd.DataFrame = df.groupby(
        [
            "Region"
        ],
        as_index = False
    ).agg(
        **{
            "Sales": (
                "Sales", "sum"
            )
        }
    )

    names = find_names_using_sell_quantity(
        df_grouped,
        col_name_to_eq,
        col_name_to_return,
        max_sells
    )

    return names


def find_product_names_by_region(
        df: pd.DataFrame,
        max_sells: bool = True
) -> pd.Series:
    region_names = find_region_names_using_sell_quantity(
        df,
        "Sales",
        "Region",
        max_sells
    )

    df_queryed = df[
        df["Region"].isin(region_names)
    ]

    product_names_by_region_name = find_names_using_sell_quantity(
        df_queryed,
        "Sales",
        "Product",
        max_sells
    )

    return product_names_by_region_name

## 1. Какой продукт был продан в наибольшем количестве

In [4]:
product_names_hiest_sells = find_names_using_sell_quantity(
    df_main,
    "Sales",
    "Product",
    True
)

product_names_hiest_sells

1    Product B
Name: Product, dtype: object

## 2. Какой продукт был продан в наименьшем количестве

In [5]:
product_names_smallest_sells = find_names_using_sell_quantity(
    df_main,
    "Sales",
    "Product",
    False
)

product_names_smallest_sells

3    Product D
Name: Product, dtype: object

## 3. Какой регион показал наибольший объем продаж

In [6]:
region_names_hiest_sells = find_region_names_using_sell_quantity(
    df_main,
    "Sales",
    "Region",
    True
)

region_names_hiest_sells

1    North
Name: Region, dtype: object

## 4. Какой регион показал наименьший объем продаж

In [7]:
region_names_smallest_sells = find_region_names_using_sell_quantity(
    df_main,
    "Sales",
    "Region",
    False
)

region_names_smallest_sells

0    East
Name: Region, dtype: object

## 5. Какой продукт был продан в наибольшем количестве в регионе с наибольшим объемом продаж

In [8]:
product_names_hiest_sells_by_region_name = find_product_names_by_region(
    df_main,
    True
)

product_names_hiest_sells_by_region_name

1    Product B
Name: Product, dtype: object

## 6. Какой продукт был продан в наименьшем количестве в регионе с наименьшим объемом продаж

In [9]:
product_names_smallest_sells_by_region_name = find_product_names_by_region(
    df_main,
    False
)

product_names_smallest_sells_by_region_name

4    Product E
Name: Product, dtype: object